
*.out

*.plist

HW1/loop

HW1/hello

sandbox/hello


sandbox/loop

*.o

sandbox/Makefile

sandbox/test

HW1/shell

*.tgz

*.txt

sandbox/dorp
sandbox/redirectOut

sandbox/testing

HW2/boop

HW2/cat

HW2/redirectOut

HW2/sa

HW2/shell

HW2/test.c

sandbox/Noop

sandbox/nope

assign3/clipboard

*.gz

sandbox/boop

sandbox/stderr

sandbox/stdout

sandbox/valgind

sandbox/valgrind

HW2/boops

assign3/smsasim

HW2/HW/shell

assign3/test

HW2/bopts
